<div class="container">

    <div class="profile_editHeader">
        <%= link_to user_path(id: current_user.id)  do %> 
            <p class="home_back">←</p>
        <% end %>
    </div>

    <div>
    <%= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f| %>
            <label>
                <%= f.label :avatar, 'Avatar' %>
            </label>
            <label class="profile_editAvatar">
                <%= f.file_field :avatar %>
                ＋ Album
            </label>
        <div>           
            <label>
                <%= f.label :name, 'Name' %>
            </label>
            <div class="profile_editName">
                <%= f.text_field :name, class: 'text'  %>
            </div>
        </div>
        <div>
            <label>
                <%= f.label :introduction, 'Introduction' %>
            </label>
            <div class="profile_editIntro">
                <%= f.text_field :introduction, class: 'text' %>
            </div>
        </div>
        <%= f.submit 'OK', class: 'btn-primary' %>
    <% end %> 
    </div>   
</div>