<div class="container">
    <%= form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f| %>
        <div>
            <%= f.label :avatar, 'Avatar' %>
        </div>
        <div>
            <%= f.file_field :avatar %>
        </div>
        <div>
            <%= f.label :name, 'Name' %>
        </div>
        <div>
            <%= f.text_field :name, class: 'text'  %>
        </div>
        <div>
            <%= f.label :introduction, 'Introduction' %>
        </div>
        <div>
            <%= f.text_field :introduction, class: 'text' %>
        </div>
        <%= f.submit 'OK', class: 'btn-primary' %>
    <% end %>    
</div>