.container
  .profile_header.comment_header
    = link_to root_path do
      %p.profile_back ←
  .comments
    - @comments.each do |comment|
      %div.comment_container
        %div.comment_avatar
          - if comment.user.profile&.avatar&.attached?
            - if current_user && comment.user.id == current_user.id
              = link_to user_path(id: current_user.id) do
                = image_tag comment.user.profile.avatar, class: 'profile_avatar'
            - else
              = link_to account_path(id: comment.user.id) do
                = image_tag comment.user.profile.avatar, class: 'profile_avatar'
          - else
            - if current_user && comment.user.id == current_user.id
              = link_to user_path(id: current_user.id) do
                = image_tag 'ellipse.png', class: 'profile_avatar'
            - else
              = link_to account_path(id: comment.user.id) do
                = image_tag 'ellipse.png', class: 'profile_avatar'
        %div.comment_text
          = comment.content
  = link_to new_post_comment_path(post_id: params[:post_id]) do
    %p.btn-primary.comment_addBtn Comment
    


