<div class="container">
    <div class="profile_header">
        <%= link_to root_path  do %> 
            <p class="profile_back">←</p>
        <% end %>
        <p class="profile_username"><%= current_user.username %></p>
    </div>

    <div class="profile_content">
        <%= image_tag 'ellipse.png' %>
        <p><%= current_user.username %></p>
        <p class="profile_introduction">大阪大学外国語学部2年</p>
        <div class="profile_detail">
            <div class="block">
                <h4>0</h4>
                <p>Posts</p>
            </div>
            <div class="block">
                <h4>0</h4>
                <p>Followers</p>
            </div>
            <div class="block">
                <h4>0</h4>
                <p>Following</p>
            </div>
        </div>
    </div>

    <div class="profile_pictures">
        <% @posts.each do |post| %>
            <%= link_to user_timeline_path(user_id: post.user.id) do %>
                <%= image_tag post.picture, class: 'profile_picture' %>
            <% end %>
        <% end %>
    </div>


</div>

