.home_content
  - @posts.each do |post|
    .post
      = render 'commons/card', user: post.user
      - if current_user && post.user.id == current_user.id
        .dropdown_post
          = image_tag 'actions.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to 'Edit', edit_post_path(id: post.id)
            = link_to 'Delete', post_path(id: post.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
      %div
        - if post.picture.present?
          = image_tag post.picture, class: 'picture'
        .buttons
          = link_to post_comments_path(post_id: post.id) do
            %p.view-btn view
          .post_date
            = post.display_created_at
        .post_content
          = post.content
        - if post.comments.present?
          .post_comments
            .post_comment
              .post_comment_username
                = link_to account_path(id: post.comments.first.user.id) do
                  = post&.comments.first.user.username
              .post_comment_text
                = post&.comments.first.content
            - if post.comments.second.present?
              .post_comment
                .post_comment_username
                  = link_to account_path(id: post.comments.second.user.id) do
                    = post&.comments.second.user.username
                .post_comment_text
                  = post&.comments.second.content
          
