    <div class="home_content">
        <% @posts.each do |post| %>
            <div class="post">
                <%= render 'commons/card', user: post.user %>
                <% if current_user && post.user.id == current_user.id %>
                    <div class="dropdown_post">
                        <%= image_tag 'actions.svg', class: 'dropbtn' %>
                        <div class="dropdown-content mini">
                            <%= link_to 'Edit', edit_post_path(id: post.id) %>
                            <%= link_to 'Delete', post_path(id: post.id), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } %>
                        </div>
                    </div>
                <% end %>
                <div>
                <% if post.picture.present? %>
                    <%= image_tag post.picture, class: 'picture' %>
                <% end %>
                    <div class="buttons">
                        <%= image_tag 'heart.png' %>
                        <%= image_tag 'comment.png' %>
                        <%= image_tag 'share.png' %>
                    </div>
                    <div class="post_content">
                        <%= post.content %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>