<div class="container">
    <%= form_with(model: @post , url: user_posts_path(user_id: current_user.id), method: 'post', local: true) do |f| %>

        <div class="post_newHeader">
            <%= link_to root_path do %>
                <p class="back">←</p>
            <% end %>
            <%= f.submit 'Post', class: 'post_newSubmit' %>
        </div>

        
        <div class="post_newDetail">
            <div class="post_newAvatar">
                <%= image_tag 'ellipse.png' %>
            </div>
            <div class="post_newUsername">    
                <%= current_user.username %>
            </div>
        </div>

        <%= f.text_field :content, placeholder: "What's on our mind?", class: "post_newInput" %>

        <%= f.file_field :picture %>

    <% end %>
</div>